<div class="container">

    <h2 class="section-title">CCF-华为胡杨林基金系统软件专项结题研讨</h2>
    <div class="section-title-en">联合活动 U1</div>

    <section class="forum-section">
        <h3>一、论坛介绍</h3>
        <p>CCF-华为胡杨林基金系统软件专项2024年度项目结题评审会议。</p>
    </section>

    <section class="forum-section">
        <h3>二、论坛组织委员会</h3>
        <ul class="committee-list">
            <li>
                <span class="member-name">胡欣蔚</span>
                <span class="member-unit">（华为技术有限公司）</span>
            </li>
            <li>
                <span class="member-name">卜磊</span>
                <span class="member-unit">（南京大学）</span>
            </li>
            <li>
                <span class="member-name">刘哲</span>
                <span class="member-unit">（华为技术有限公司）</span>
            </li>
            <li>
                <span class="member-name">陈金富</span>
                <span class="member-unit">（武汉大学）</span>
            </li>
            <li>
                <span class="member-name">苏义博</span>
                <span class="member-unit">（华为技术有限公司）</span>
            </li>
        </ul>
    </section>

    <section class="forum-section">
        <h3>三、论坛安排</h3>
        <h4>日程安排：</h4>
        <p> <strong>时间：</strong>11月30日星期日 09:00-12:10</p>
        <p> <strong>地点：</strong>武汉国际会议中心 一楼楚悟厅V15 、 二楼荆南厅V27</p>

        <h4>一楼楚悟厅V15议程：</h4>
        <table class="forum-table">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>题目</th>
                    <th>报告嘉宾</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>09:00-09:05</td>
                    <td>开场致辞</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>09:05-09:25</td>
                    <td>异构众核上并行任务图的确定性时延保障技术研究</td>
                    <td>孙景昊<br>大连理工大学</td>
                </tr>
                <tr>
                    <td>09:25-09:45</td>
                    <td>面向AI训练的DPU分布式文件系统卸载技术</td>
                    <td>唐璐<br>厦门大学</td>
                </tr>
                <tr>
                    <td>09:45-10:05</td>
                    <td>XPU池化系统的软件和网络设计的研究</td>
                    <td>魏星达<br>上海交通大学</td>
                </tr>
                <tr>
                    <td>10:05-10:25</td>
                    <td>基于大模型与静态分析的操作系统内核测试技术</td>
                    <td>陈俊洁<br>天津大学</td>
                </tr>
                <tr>
                    <td>10:25-10:45</td>
                    <td>面向鸿蒙软件供应链安全的开源软件度量评估研究</td>
                    <td>司徒凌云<br>南京大学</td>
                </tr>
                <tr>
                    <td>10:45-11:05</td>
                    <td>基于程序静态分析和大模型技术增强的鸿蒙原生应用自动化测试技术</td>
                    <td>苏亭<br>华东师范大学</td>
                </tr>
                <tr>
                    <td>11:05-11:25</td>
                    <td>面向鸿蒙应用的跨语言程序分析技术</td>
                    <td>赵彦杰<br>华中科技大学</td>
                </tr>
                <tr>
                    <td>11:25-11:45</td>
                    <td>面向鸿蒙应用的并行化静态安全分析框架</td>
                    <td>陈森<br>南开大学</td>
                </tr>
                <tr>
                    <td>11:45-12:05</td>
                    <td>基于大模型与多粒度特征的复杂软件系统架构变更检测</td>
                    <td>晋武侠<br>西安交通大学</td>
                </tr>
                <tr>
                    <td>12:05-12:10</td>
                    <td>总结</td>
                    <td>--</td>
                </tr>
                </tbody>
        </table>
        <h4>二楼荆南厅V27议程：</h4>
        <table class="forum-table">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>题目</th>
                    <th>报告嘉宾</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>09:00-09:05</td>
                    <td>开场致辞</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>09:05-09:25</td>
                    <td>面向Serverless异构函数工作流的高性能数据通信统一框架</td>
                    <td>余旻晨<br>香港中文大学（深圳）</td>
                </tr>
                <tr>
                    <td>09:25-09:45</td>
                    <td>多算力场景下面向稀疏算子库的混合编译优化框架</td>
                    <td>王昊天<br>湖南大学</td>
                </tr>
                <tr>
                    <td>09:45-10:05</td>
                    <td>DPU加速的语言虚拟机内存管理技术研究</td>
                    <td>吴明瑜<br>上海交通大学</td>
                </tr>
                <tr>
                    <td>10:05-10:25</td>
                    <td>面向高性能计算的跨平台多目标容器镜像编译构建技术研究</td>
                    <td>张献伟<br>中山大学</td>
                </tr>
                <tr>
                    <td>10:25-10:45</td>
                    <td>面向机密计算的高性能系统缓存服务</td>
                    <td>李明煜<br>中国科学院软件研究所</td>
                </tr>
                <tr>
                    <td>10:45-11:05</td>
                    <td>泛在设备场景下安全高效的跨域数据建模系统研究</td>
                    <td>刘炳言<br>北京邮电大学</td>
                </tr>
                <tr>
                    <td>11:05-11:25</td>
                    <td>面向差异化计算环境的应用行为融合安全性分析技术研究</td>
                    <td>詹东阳<br>哈尔滨工业大学</td>
                </tr>
                <tr>
                    <td>11:25-11:45</td>
                    <td>编译器优化缺陷检测</td>
                    <td>高凤娟<br>南京理工大学</td>
                </tr>
                <tr>
                    <td>11:45-12:05</td>
                    <td>数据驱动的指针分析优化方法</td>
                    <td>姚培森<br>浙江大学</td>
                </tr>
                <tr>
                    <td>12:05-12:10</td>
                    <td>总结</td>
                    <td>--</td>
                </tr>
            </tbody>
        </table>
    </section>

    <!-- <section class="forum-section">
        <h3>四、论坛报告嘉宾简介</h3>
    </section> -->

    <section class="forum-section">
        <h3>四、论坛组织委员会简介</h3>
        <div class="committee-member">
            <h4>1. 论坛主席：胡欣蔚 中央软件院架构与设计管理部部长</h4>
            <div class="committee-profile">
                <div class="committee-image">
                    <img src="./images/academic-forum/胡欣蔚.png" alt="胡欣蔚头像"
                        onerror="this.src='./images/academic-forum/default.png'">
                </div>
                <p><strong>简介：</strong>2011年加入华为，现任中央软件院架构与设计管理部部长，ICT操作系统首席专家，openEuler社区技术委员会主席；曾在 SuSE Linux 等公司担任研发负责人，具有长期的操作系统、高可用软件、底层软件等领域工作经验和技术积累；对处理器、体系架构、OS、容器等具有广阔的技术视野。</p>
            </div>
        </div>
        <div class="committee-member">
            <h4>2. 论坛主席：卜磊 教授</h4>
            <div class="committee-profile">
                <div class="committee-image">
                    <img src="./images/academic-forum/卜磊.png" alt="卜磊头像"
                        onerror="this.src='./images/academic-forum/default.png'">
                </div>
                <p><strong>简介：</strong>卜磊，教授，博士生导师，现任南京大学软件学院副院长，兼任 CCF 系统软件专委秘书长；主要研究领域涉及软件工程、可信软件、形式化方法等方面，部分创新性工作发表在相关领域重要期刊与会议如《中国科学》、TCAD、TC、TDSC、TOSEM、TECS、CAV、RTSS、ICSE、DAC等；入选国家级青年人才计划、高校计算机专业优秀教师奖励计划、CCF-IEEE CS青年科学家奖、中创软件人才奖、NASAC青年软件创新奖等。</p>
            </div>
        </div>
        <div class="committee-member">
            <h4>3. 论坛主席：刘哲 主任工程师</h4>
            <div class="committee-profile">
                <div class="committee-image">
                    <img src="./images/academic-forum/刘哲_HW.png" alt="刘哲头像"
                        onerror="this.src='./images/academic-forum/default.png'">
                </div>
                <p><strong>简介：</strong>刘哲，西安电子科技大学博士，上海交通大学访问学者。2017年加入华为，现任华为操作系统部技术合作经理，OS领域标准与认证专家，openEuler安全委员会委员。</p>
            </div>
        </div>
        <div class="committee-member">
            <h4>4. 论坛委员：陈金富 副教授</h4>
            <div class="committee-profile">
                <div class="committee-image">
                    <img src="./images/academic-forum/陈金富.png" alt="陈金富头像"
                        onerror="this.src='./images/academic-forum/default.png'">
                </div>
                <p><strong>简介：</strong>陈金富，武汉大学副教授，博士生导师，入选湖北省创新人才计划，小米青年学者，武汉计算机软件工程学会青年才俊奖获得者，担任中国软件大会2025组织委员会副主席，CCF软件工程专委会走进高校工作组秘书，主持国家自然科学基金青年项目，参与国家自然科学基金联合基金重点项目，主持华为横向课题。主要研究领域包括软件性能、代码克隆检测，研究成果被软件工程领域的高水平期刊和会议接收和发表，包括CCF A类推荐期刊和会议（如ICSE、FSE、ASE、TSE、TOSEM、TIFS），论文曾获得国际权威会议2025 IEEE TCSE Distinguished Paper Award、2020 ICSE SIGSOFT Distinguished Paper Award，曾担任国际期刊审稿人和会议评审委员会成员，如国际期刊TSE、TOSEM、EMSE、ASEJ、JSS和国际会议SANER、MSR等。</p>
            </div>
        </div>
        <div class="committee-member">
            <h4>5. 论坛委员：苏义博 高级工程师</h4>
            <div class="committee-profile">
                <div class="committee-image">
                    <img src="./images/academic-forum/苏义博.png" alt="苏义博头像"
                        onerror="this.src='./images/academic-forum/default.png'">
                </div>
                <p><strong>简介：</strong>华为2012实验室高级工程师，负责实时RTOS的研发，推动其在数字能源、工控等领域的竞争力构建及应用落地。</p>
            </div>
        </div>
    </section>
</div>
