<div class="container">
    <h2 class="section-title">华为鸿蒙Codelabs</h2>
    <div class="section-title-en">联合活动 U2</div>

    <section class="forum-section">

        <!-- h3 一、展区介绍 -->
        <h3>一、展区介绍</h3>
        <p>
            HarmonyOS Codelabs 体验区通过手把手的教学实践案例，带您快速闯入鸿蒙开发世界！在这里，您既能沉浸式感受代码编译的乐趣，还能挑战不同难度的特色赛题，更有机会解锁多重惊喜奖励！ </p>
        <p>
            此次 Codelabs 涵盖三大核心板块，全方位赋能开发者：
        </p>
        <p>
            <strong>HarmonyOS应用开发快速入门：</strong>聚焦应用开发核心基础，包括用Text、Image等基础组件构建页面、利用Swiper实现轮播图（Banner）效果、运用网格（Grid）与列表（List）布局展示内容、页面导航设计及
            AI 能力调用等。开发者可通过下载配套项目代码，边学边练，快速掌握ArkTS语言和ArkUI框架的基本开发能力，为深入学习HarmonyOS应用开发奠定坚实基础。
        </p>
        <p>
            <strong>HarmonyOS
                SDK：</strong>面向鸿蒙应用和元服务开发的开放能力合集，提供包括应用框架、应用服务、系统、媒体、AI、图形在内的六大领域丰富完备的开放能力，助开发者构建焕然一新的鸿蒙应用和元服务，带来创新易用的全场景体验。
        </p>
        <p>
            <strong>小艺AI：</strong>以低代码 / 无代码模式开发 AI 智能体，带您读懂小艺、摸清智能体的本质与未来潜力。打破 AI 技术的专业壁垒，让每个人都能轻松打造专属智能体，真正实现 AI 全民化！
        </p>




    </section>

    <section class="forum-section">
        <h3>二、展区日程安排</h3>
        <p><strong>展区位置：</strong>会议中心一楼前厅</p>
        <p><strong>开展时间：</strong>2025年11月28-30日</p>

        <div class="image-container">
            <img src="images/joint-events/CodeLab.png" alt="CodeLab Image" class="codelab-image" />
        </div>

    </section>

</div>