<div class="container">

    <h2 class="section-title">仓颉编程培训暨仓颉编程挑战赛</h2>
    <div class="section-title-en">竞赛论坛 C5</div>

    <section class="forum-section">
        <h3>一、简介</h3>
        <p>
            仓颉作为一款面向鸿蒙应用开发的现代编程语言，是一款静态类型、静态编译的编程语言，通过现代语言特性的集成、全方位的编译优化和运行时实现、以及开箱即用工具链支持，主打高性能、跨平台、智能化、强安全，为鸿蒙应用开发者打造友好开发验和卓越程序性能，促进鸿蒙操作系统生态发展。同时作为通用的应用编程语言，可以支撑关基行业规模应用。解决关基行业编程语言供应安全问题，保障电信、金融、政务等关基行业编程语言供应安全。自2024年仓颉发布以来引发众多开发者的广泛关注，尤其在2025年7月仓颉开源后，仓颉编程语言迎来了新一轮的创新浪潮。
        </p>
        <p>
            为更好的培养仓颉语言人才，我们依托CCF中国软件大会举办了线下编程挑战赛。旨在激发参赛选手在仓颉语言领域的算法设计、逻辑推理和编程实现的能力，培养竞赛思维、挑战精神和创新能力。欢迎对仓颉编程语言感兴趣的各高校学生及社区开发者报名参赛。
        </p>
    </section>

    <section class="forum-section">
        <h3>二、比赛组织</h3>
        <p style="text-indent: 0;"><strong>主办单位：</strong>中国计算机学会软件工程专委会、中国计算机学会系统软件专委会、中国计算机学会形式化专委会</p>
        <p style="text-indent: 0;"><strong>组委会：</strong>
        <ul class="committee-list" style="padding-left: 2.5rem;">

            <li>
                <span class="member-name">冯新宇</span>
                <span class="member-unit">（南京大学）</span>
            </li>
            <li>
                <span class="member-name">熊英飞</span>
                <span class="member-unit">（北京大学）</span>
            </li>
            <li>
                <span class="member-name">陈立前</span>
                <span class="member-unit">（国防科技大学）</span>
            </li>
            <li>
                <span class="member-name">辛奇</span>
                <span class="member-unit">（武汉大学）</span>
            </li>
            <li>
                <span class="member-name">王学智</span>
                <span class="member-unit">（华为）</span>
            </li>
            <li>
                <span class="member-name">刘威</span>
                <span class="member-unit">（华为）</span>
            </li>
        </ul>
        </p>


    </section>

    <section class="forum-section">
        <h3>三、竞赛日程</h3>
        <table class="forum-table">
            <thead>
                <tr>
                    <th width="30%">时间</th>
                    <th width="40%">内容</th>
                    <th width="30%">地点</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2025年11月7日</td>
                    <td>竞赛报名截止</td>
                    <td>--</td>
                </tr>
                <tr>
                    <td>2025年11月15日<br>上午 9:00-12:00</td>
                    <td>线上初赛</td>
                    <td>线上</td>
                </tr>
                <tr>
                    <td>2025年11月28日<br>下午 14:00-17:00</td>
                    <td>决赛培训与宣讲</td>
                    <td>CCF中国软件大会会场</td>
                </tr>
                <tr>
                    <td>2025年11月29日<br>上午 9:00-12:00</td>
                    <td>决赛比赛</td>
                    <td>武汉大学计算机学院楼B302</td>
                </tr>
                <tr>
                    <td>2025年11月30日<br>下午 13:30-17:00</td>
                    <td>颁奖</td>
                    <td>CCF中国软件大会会场</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="forum-section">
        <h3>四、参赛对象与报名方式</h3>
        <p>比赛面向对仓颉编程语言感兴趣的各高校学生及社区开发者，独立参赛。</p>
        <p>请扫描下方二维码参与报名，如需修改报名信息请联系官方邮箱或官方小助手。</p>
        <img class="register-img" src="images/competition/cangjie/cangjie_qr.png" alt="报名二维码">
    </section>




    <section class="forum-section">
        <h3>五、参赛流程</h3>

        <p><strong>参赛费用</strong>：比赛不收取任何报名费、参赛费、评审费和服务费等费用。参赛选手在决赛期间及颁奖典礼期间产生的交通、会议、食宿等费自理。</p>
        <p><strong>参赛流程与评分规则</strong>：初赛采用基于LeetCode平台的在线编程形式，仓颉编程语言版本为Cangjie
            1.0.0版本，参赛选手在指定时间内完成题目编写并提交，按照得分进行排名，得分相同者按照解题时长进行排名，排名前50名同学晋级决赛。禁止代码及技术抄袭，禁止利用规则或者技术漏洞等不良途径提高排名，一经发现取消比赛成绩。
        </p>
        <p>进入决赛的开发者，需在CCF中国软件大会期间前往大会会场参加仓颉编程语言挑战赛宣讲会及仓颉基础知识教程培训，然后再前往到武汉大学比赛现场参加决赛。</p>

        <p> 初赛排名前50名同学晋级决赛。决赛采用基于LeetCode平台的在线编程形式，仓颉编程语言版本为Cangjie
            1.0.0版本，参赛选手在指定时间内完成题目编写并提交，按照得分进行排名，得分相同者按照解题时长进行排名，比赛组委会根据分数从高到低进行排名并决出奖项。禁止代码及技术抄袭，禁止利用规则或者技术漏洞等不良途径提高排名，一经发现取消比赛成绩。
        </p>
    </section>

    <section class="forum-section">
        <h3>六、奖项设置</h3>
        <p>奖项包括一等奖一名、二等奖三名、三等奖五名，以及晋级决赛奖，入围决赛的参赛选手统一赠送仓颉文化衫。前三等奖项将在CCF中国软件大会闭幕式现场统一颁奖。</p>

        <div class="awards-grid">
            <div class="award-item">
                <div class="image-area">
                    <img src="images/competition/cangjie/awards1.png" alt="奖项设置示意图">
                </div>
                <div class="award-desc">
                    <div class="award-title">一等奖1名</div>
                    <div class="award-prize">HUAWEI Pura 80</div>
                </div>
            </div>
            <div class="award-item">
                <div class="image-area">
                    <img src="images/competition/cangjie/awards2.png" alt="奖项设置示意图">
                </div>
                <div class="award-desc">
                    <div class="award-title">二等奖3名</div>
                    <div class="award-prize">HUAWEI WATCH GT5 Pro</div>
                </div>
            </div>
            <div class="award-item">
                <div class="image-area">
                    <img src="images/competition/cangjie/awards3.png" alt="奖项设置示意图">
                </div>
                <div class="award-desc">
                    <div class="award-title">三等奖5名</div>
                    <div class="award-prize">HUAWEI FreeBuds 6i</div>
                </div>
            </div>
            <div class="award-item">
                <div class="image-area">
                    <img src="images/competition/cangjie/awards4.png" alt="奖项设置示意图">
                </div>
                <div class="award-desc">
                    <div class="award-title">晋级决赛奖</div>
                    <div class="award-prize">华为智能体脂秤 3</div>
                </div>
            </div>
        </div>
    </section>


    <section class="forum-section">
        <h3>七、联系方式</h3>
        <p><strong>竞赛官方邮箱：</strong>cangjie@huawei.com</p>

        <p><strong>联系方式二维码：</strong> 欢迎报名比赛!</p>
        <img class="register-img" src="images/competition/cangjie/cangjie_qr.png" alt="联系方式二维码">


        <p><strong>竞赛官方微信：</strong>请扫描下方二维码添加仓颉编程语言官方小助手微信</p>
        <img src="images/competition/cangjie/contact_cangjie_qr.png" alt="联系方式二维码" class="register-img">


    </section>
</div>


<div class="container">
    <h3 class="section-title">仓颉编程培训暨仓颉编程挑战赛宣讲会</h3>
    <div class="section-title-en">竞赛论坛 C5</div>

    <section class="forum-section">
        <h3>一、活动背景</h3>
        <p>
            为更好的培养仓颉语言人才，依托CCF中国软件大会举办了仓颉编程语言挑战赛。旨在激发参赛选手在仓颉语言领域的算法设计、逻辑推理和编程实现的能力，培养竞赛思维、挑战精神和创新能力。
        </p>
        <p>
            <strong>时间：</strong>2025年11月28日 14:00-17:30<br>
        </p>
        <p><strong>地点：</strong>武汉国际会议中心 二楼荆花厅 206</p>

    </section>
    <section class="forum-section">
        <h3>二、培训安排</h3>
        <table class="forum-table">

            <thead>
                <tr>
                    <th width="20%">培训时间</th>
                    <th width="20%">培训老师</th>
                    <th width="25%">培训主题</th>
                    <th width="35%">摘要</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>14:00-14:20</td>
                    <td>王学智（华为仓颉编程语言生态与产业发展总监）</td>
                    <td>仓颉编程语言挑战赛赛前宣讲</td>
                    <td>介绍仓颉语言的基础知识和相关工具，帮助开发者上手仓颉。</td>
                </tr>
                <tr>
                    <td>14:20-15:10</td>
                    <td>刘俊杰（华为编程语言实验室仓颉布道师）</td>
                    <td>仓颉语言基础知识及工具使用</td>
                    <td>介绍仓颉语言的基础知识和相关工具，帮助开发者上手仓颉。</td>
                </tr>
                <tr>
                    <td>15:10-16:00</td>
                    <td>詹博华（华为编程语言实验室技术专家）</td>
                    <td>仓颉语言算法题目解析（一）</td>
                    <td>介绍使用仓颉语言的一些算法题目介绍。</td>
                </tr>
                <tr>
                    <td>16:00-16:50</td>
                    <td>史磊（华为编程语言实验室高级工程师）</td>
                    <td>仓颉语言算法题目解析（二）</td>
                    <td>继续介绍使用仓颉语言的一些算法，以及leetcode竞赛操作注意事项。</td>
                </tr>
            </tbody>
        </table>

    </section>
    <section class="forum-section">
        <h3>三、奖项设置</h3>
        <p>为会上积极交流提问的学生发放仓颉编程语言精美周边。敬请期待。</p>
    </section>

</div>