<div class="container">
    <h2 class="section-title">基于异构算力的系统编程竞赛</h2>
    <div class="section-title-en">竞赛论坛 C3</div>

    <section class="forum-section">
        <h3>一、竞赛目的</h3>
        <p>异构算力上的系统软件同样需要管理资源，并针对快速变换的外部请求，在多个备选任务间做出调度响应。但是由于异构算力间不同的硬件设计，以及运行的不同软件特征，系统软件的调度和资源管理算法设计并不相同。</p>
        <p>本竞赛将围绕业界的真实硬件和真实应用做抽象，提出若干软件设计和实现的难题，通过竞赛的方式，使得参加者对异构算力上的系统软件关键组件及算法设计获得更深入的理解和认识。</p>
    </section>

    <section class="forum-section">
        <h3>二、竞赛日程</h3>
        <table class="forum-table">
            <thead>
                <tr>
                    <th width="30%">时间</th>
                    <th width="40%">内容</th>
                    <th width="30%">地点</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2025年10月25日</td>
                    <td>赛题公布</td>
                    <td>线上</td>
                </tr>
                <tr>
                    <td>2025年11月5日 24:00</td>
                    <td>报名截止</td>
                    <td>线上</td>
                </tr>
                <tr>
                    <td>2025年11月6日</td>
                    <td>赛题答疑</td>
                    <td>线上</td>
                </tr>
                <tr>
                    <td>2025年11月17日 24:00</td>
                    <td>初审提交截止</td>
                    <td>线上</td>
                </tr>
                <tr>
                    <td>2025年11月20日</td>
                    <td>初审结果&amp;决赛名单公布</td>
                    <td>线上</td>
                </tr>
                <tr>
                    <td>2025年11月25日 24:00</td>
                    <td>决赛提交截止</td>
                    <td>线上</td>
                </tr>
                <tr>
                    <td>2025年11月28日<br>上午9:00-12:30</td>
                    <td>决赛答辩</td>
                    <td>中国软件大会武汉国际会议中心二楼荆通厅V24</td>
                </tr>
                <tr>
                    <td>2025年11月30日<br>下午14:00-17:00</td>
                    <td>颁奖</td>
                    <td>中国软件大会武汉国际会议中心五楼大会议厅</td>
                </tr>
            </tbody>
        </table>
    </section>


    <section class="forum-section">
        <h3>三、报名参赛</h3>
        <p>本竞赛面向对操作系统感兴趣的各高校学生及社区开发者，支持独立参赛或组队竞赛，一个参赛队伍上限为3人。报名可通过下方二维码或者 <a
                href="https://www.wjx.cn/vm/w7Qwo0u.aspx">此链接</a> 线上报名（组队参赛只需队长填写一次），报名成功的参赛者将会在报名后三个工作日内收到确认邮件。</p>
        <img class="register-img" src="./images/competition/C3/C3-QR.png" alt="注册二维码">
        <p>本竞赛不收取任何报名费、参赛费、评审费和服务费等费用。参赛选手在竞赛期间及颁奖典礼期间产生的交通、会议、食宿等费自理。</p>
    </section>

    <section class="forum-section">
        <h3>四、参赛规则</h3>
        <ol>
            <li>本竞赛题预计10月25日在 <a href="https://gitee.com/openeuler/heterogeneous_systems_programming">gitee平台</a>
                公布赛题，请参赛选手密切关注竞赛动向。</li>
            <li>本竞赛设置初审环节，评审委员会将根据初审成绩决定晋级决赛名单，晋级决赛选手若未能参加11月28日的现场答辩，将视为放弃本次参赛。</li>
            <li>初审和决赛均通过邮件提交代码，提交地址：<u> liujingrong3(at)huawei.com。</u></li>
            <li>请注意报名、初审和决赛提交截止时间，过时提交视为无效提交。</li>
        </ol>
    </section>

    <section class="forum-section">
        <h3>五、奖项设置</h3>
        <p>奖项包括一等奖1个、二等奖3个、三等奖5个以及晋级决赛奖若干。算法设计特别优秀作品，将颁发出特等奖。前四个奖项将在中国软件大会闭幕式现场统一颁奖。现场所有参会人员都将获得 openEuler 文化衫一件。</p>
        <div>
            <img src="./images/competition/C3/C3-Prize.png" alt="奖品说明"
                style="width: 100%; margin: 1rem auto; max-width: 800px; display: block;">
            <p style="text-indent: 0; margin: 0 auto; font-size: 0.625rem; text-align: center;">获奖选手也可选择对应奖品等值奖金</p>
        </div>
    </section>

    <section class="forum-section">
        <h3>六、竞赛组织</h3>
        <ul>
            <li>竞赛主办单位：中国计算机学会系统软件专委会</li>
            <li>竞赛承办单位：华为技术有限公司、北京大学、北京航空航天大学、上海交通大学、西北工业大学</li>
            <li>竞赛组织和评审委员会：胡欣蔚(华为) 、秦彬娟（华为）、李锭（北京大学）、杨任宇（北京航空航天大学）、陈榕（上海交通大学）、张羽(西北工业大学)</li>
        </ul>

        <h4>竞赛组织和评审委员会简介：</h4>

        <div class="committee-member">
            <h4>1. 胡欣蔚 openEuler 技术委员会主席、华为操作系统首席架构师</h4>
            <div class="speaker-profile">
                <div class="speaker-image">
                    <img src="images/competition/胡欣蔚.png" alt="胡欣蔚头像">
                </div>
                <p><strong>简介：</strong>主导开源服务器操作系统openEuler的研发，推动其在边缘计算、人工智能等领域的应用落地。2025年担任CCF-华为胡杨林基金系统软件专项技术委员会副主任，多次在CCF中国软件大会等活动中发表主题演讲，聚焦智能软件赋能新质生产力发展。
                </p>
            </div>
        </div>

        <div class="committee-member">
            <h4>2. 秦彬娟 华为欧拉实验室主任、openEuler 异构融合SIG Maintainer</h4>
            <div class="speaker-profile">
                <div class="speaker-image">
                    <img src="images/competition/秦彬娟.png" alt="秦彬娟头像">
                </div>
                <p><strong>简介：</strong>主导异构融合操作系统OS技术创新，具有长期的大型软件系统、操作系统OS及底层软件等领域工作经验和技术积累；对计算机体系架构、操作系统、容器云原生等具有广阔的技术视野。
                </p>
            </div>
        </div>

        <div class="committee-member">
            <h4>3. 李锭 北京大学研究员，博士生导师，博雅青年学者，国家高层次人才青年计划入选者</h4>
            <div class="speaker-profile">
                <div class="speaker-image">
                    <img src="images/competition/李锭.png" alt="李锭头像">
                </div>
                <p><strong>简介：</strong>长期从事操作系统和软件安全方面的研究。获2024年电子学会科技进步一等奖、软件工程领域顶级会议 ISSTA(CCF-A)的十年最有影响力论文奖(Impact Paper Award) ，系大陆学者第一次获得该奖项。在信息安全和软件工程等相关领域发表顶会顶刊论文40余篇。被著名软件工程期刊《The Journal of Systems and Software》的评论文章评为2010年到2017年期间全球影响力排名第二的青年学者。
                </p>
            </div>
        </div>

        <div class="committee-member">
            <h4>4. 杨任宇 北京航空航天大学软件学院副教授，博士生导师，国家级青年人才</h4>
            <div class="speaker-profile">
                <div class="speaker-image">
                    <img src="images/competition/杨任宇.png" alt="杨任宇头像">
                </div>
                <p><strong>简介：</strong>北航可靠智能分布式系统实验室联合负责人，复杂关键软件环境全国重点实验室、计算智能新技术北京市重点实验室核心成员。长期从事大规模可靠计算基础设施关键技术与理论的研究，目前研究方向为云原生系统、大模型训练推理系统、异常检测等。主持国家重点研发计划课题、国家自然科学基金青年项目、北京市自然科学基金项目、头部企业-校企合作项目等项目课题十余项。在TPDS、TC、EuroSys、SC、SoCC、ASE、VLDB、KDD、WWW
                    等分布式计算、人工智能、综合交叉等领域国际期刊、会议发表学术论文70余篇，谷歌学术引用4,000余次。获2017年中国电子学会科技进步特等奖、2022年英国阿兰图灵博士后拓展奖、2024年中国商业联合会科技进步一等奖、2025年度关键软件技术创新成果奖等。
                </p>
            </div>
        </div>

        <div class="committee-member">
            <h4>5. 陈榕 上海交通大学教授、ACM杰出会员</h4>
            <div class="speaker-profile">
                <div class="speaker-image">
                    <img src="images/competition/陈榕.png" alt="陈榕头像">
                </div>
                <p><strong>简介：</strong>主要研究领域为操作系统、分布式系统等基础系统软件。
                    研究工作发表在OSDI、SOSP、EuroSys、ATC等操作系统领域重要会议上，2次获得EuroSys最佳论文奖。受邀担任本领域重要会议程序委员会委员，重要期刊ACM Transactions on
                    Computer Systems编委等。 主持多项国家重点研发计划、自然科学基金等项目/课题，以及十余项企业合作项目。曾获国家技术发明二等奖、上海市/教育部技术发明一等奖、华为奥林帕斯先锋奖等。
                </p>
            </div>
        </div>

        <div class="committee-member">
            <h4>6. 张羽 西北工业大学教授、博士生导师、计算机学院智能计算系统系主任</h4>
            <div class="speaker-profile">
                <div class="speaker-image">
                    <img src="images/competition/张羽.png" alt="张羽头像">
                </div>
                <p><strong>简介：</strong>教育部-华为“智能基座”先锋教师、栋梁之师、“101计划”西北工作组秘书长、“计算报国——智能计算系统"高校合作联盟及系列教材编委会秘书长、全国大学生计算机系统能力大赛操作系统设计赛“区域赛”主任。教育部第五轮学科评估评审专家、IEEE高级会员、中国计算机学会（CCF）杰出会员、CCF系统软件专委会委员、矽望syswonder开源技术委员会技术专家，中国人工智能学会（CAAI）高级会员、CAAI人机融合智能专委会委员。主要从事泛在操作系统、边缘智能研究。作为负责人主持国家自然科学基金青年、面上、重点、专项、JW科技委国家级重大基础加强计划项目、JW科技委前沿创新课题等40余项课题。在国际顶级会议（IEEE
                    INFOCOM、ACM MobiCOM、ACM SenSys）、重要期刊（Nature Scientific Data、IEEE TC、IEEE/ACM TON、IEEE TPDS、ACM
                    IMWUT）和国内权威期刊（《计算机学报》、《软件学报》、《计算机研究与发展》）上发表学术论文70余篇。
                </p>
            </div>
        </div>

    </section>
</div>