<!--插入CSS文件-->
<link rel="stylesheet" type="text/css" href="./css/index.css">
<link rel="stylesheet" type="text/css" href="./css/agenda.css">

<div class="container">

    <h2 class="section-title">定理证明竞赛</h2>
    <div class="section-title-en">竞赛论坛 C4</div>

    <section class="forum-section">
        <h3>一、竞赛目的</h3>
        <p>随着计算机系统在工业和生活中越来越广泛的应用，软件和硬件的可靠性受到越来越多的关注。定理证明作为形式化方法中的一个关键技术，将程序和系统的正确性表达为数学命题，然后使用逻辑推导的方式证明正确性。这种方法的优势在于不受系统的状态空间大小的限制，能够验证非常复杂的系统和性质。
        </p>
        <p>目前一些规模最大、最有影响力的形式化验证工作基于定理证明，例如，澳大利亚的团队完整验证了seL4操作系统微内核，并展示了验证后的系统能够有效防御黑客的攻击；法国INRIA的团队实现了可信的C语言编译器CompCert；美国耶鲁大学的CertiKOS项目对多核和实时操作系统进行的验证等等。
        </p>
        <p>
            定理证明作为未来软硬件系统安全保障的新兴核心技术，目前在国内学术界和工业界也得到重视和关注，但是相关人才的培养仍然不足。我们希望通过从今年起坚持每年举办定理证明竞赛，为我国软硬件系统安全保障方面的发展积聚年轻的力量。
        </p>
    </section>


    <section class="forum-section">
        <h3>二、论坛安排</h3>
        <h4>日程安排：</h4>
        <p> <strong>现场竞赛时间：</strong>11月29日星期六 15:30-18:30</p>
        <p> <strong>现场竞赛地点：</strong>武汉国际会议中心 二楼荆通厅V24</p>

        <h4>论坛议程：</h4>
        <table class="forum-table">
            <thead>
                <tr>
                    <th>时间</th>
                    <th>内容</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>2025年11月15日 前</td>
                    <td>线上报名</td>
                </tr>
                <tr>
                    <td>2025年11月29日</td>
                    <td>现场竞赛</td>
                </tr>
                <tr>
                    <td>2025年11月30日</td>
                    <td>公布结果、现场颁奖</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="forum-section">
        <h3>三、报名参赛</h3>
        <p>所有在校学生、定理证明有关领域的从业者爱好者都可以报名参加定理证明竞赛。参赛形式为个人参赛，定理证明竞赛不接受组队报名。报名可以通过本页下方的二维码或者以下链接线上报名（https://www.wjx.cn/vm/eAGNstW.aspx#），报名成功的参赛者会在报名后一周内收到确认邮件。
            本次定理证明竞赛不收取任何报名费、参赛费、评审费和服务费等费用。参赛选手在比赛期间产生的交通、食宿等费用自理。</p>
        <div style="text-align:center; margin: 24px 0;">
            <img src="./images/competition/theorem-proving/register.png" alt="定理证明竞赛报名二维码"
                style="max-width:140px; width:100%; height:auto;">
            <div style="margin-top:8px; color:#555;">扫码报名</div>
        </div>

    </section>


    <section class="forum-section">
        <h3>四、竞赛规则</h3>
        <ol>
            <li>本次定理证明竞赛试题将在竞赛当天现场公布并下发竞赛选手。</li>
            <li>本次定理证明竞赛将包含6-12个定理证明试题，试题类型包括基本证明、算法证明、数学证明和程序验证4大类。依据难度不同，每题的分值有所不同。</li>
            <li>现场竞赛时间为2025年11月29日周六下午12:30 - 17:30，地点为中国软件大会会场（武汉国际会议中心）二楼荆通厅V24。</li>
            <li>所有参赛选手需要在竞赛现场在规定的时间内完成尽可能多的定理证明试题，得到尽可能多的分数。最终赛事组委会将根据各位参赛选手的总得分从高到底颁发奖项，得分平分参赛选手的将依据提交时间确定排名。</li>
            <li>本次定理证明竞赛中可以使用的定理证明器有：Rocq(Coq)、Isabelle/HOL、Lean。</li>
            <li>参赛选手应自备可以携带到现场的计算机参赛。</li>
            <li>本次竞赛过程中允许查阅本地/离线的文档或手册，但不允许使用互联网搜索，禁止使用人工智能工具，禁止利用规则或者技术漏洞等不良途径提高得分，一经发现取消比赛成绩。</li>
            <li>赛事组委会将根据最终排名，对优胜者授予一、二、三等奖及相应奖状，并为排名前三的选手颁发奖金，其他排名前列的选手也将获得相应奖品。</li>
        </ol>
    </section>

    <section class="forum-section">
        <h3>五、奖项设置</h3>
        <p>本次竞赛奖项设置如下，所有奖项在中国软件大会2025现场统一颁奖。</p>
        <table class="forum-table">
            <thead>
                <tr>
                    <th>奖项</th>
                    <th>人数</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>第一名、第二名、第三名</td>
                    <td>各1人</td>
                </tr>
                <tr>
                    <td>一等奖</td>
                    <td>不超过参赛人数的10%</td>
                </tr>
                <tr>
                    <td>二等奖</td>
                    <td>不超过参赛人数的20%</td>
                </tr>
                <tr>
                    <td>三等奖</td>
                    <td>不超过参赛人数的30%</td>
                </tr>
            </tbody>
        </table>
    </section>

    <section class="forum-section">
        <h3>六、竞赛组织</h3>
        <p><strong>竞赛主办单位：</strong>中国计算机学会(CCF) 形式化方法专委会</p>
        <p><strong>竞赛承办单位：</strong>TPChina定理证明开放社区、浙江大学、上海交通大学</p>
        <p><strong>竞赛指导委员会：</strong>林惠民 院士（中国科学院软件研究所）、胡振江（北京大学）、马晓星（南京大学）</p>
        <p><strong>赛事组织和评审委员会：</strong>曹钦翔（上海交通大学）、李希萌（首都师范大学）、施晓牧（中国科学院软件研究所）、王迪（北京大学）、袁胜浩（浙江大学）、詹博华（华为）、赵永望（浙江大学）</p>
        <p style="height: 3.5rem; "><strong>赛事独家赞助：</strong> <img src="images/competition/theorem-proving/CertiK.png" style="height: 2rem;" alt="CertiK Logo"> </p>
    </section>

    <section class="forum-section">
        <h3>七、竞赛官网</h3>
        <p>官网链接: <a href="https://chinasoft.ccf.org.cn/#competition/theorem-proving"
                target="_blank">https://chinasoft.ccf.org.cn/#competition/theorem-proving</a></p>
        <div style="text-align:center; margin: 24px 0;">
            <img src="./images/competition/theorem-proving/TP-Website.png" alt="竞赛官网二维码"
                style="max-width:140px; width:100%; height:auto;">
            <div style="margin-top:8px; color:#555;">扫二维码 访问竞赛官网</div>
        </div>
        <p>TPChina定理证明开放社区成立于2020年12月，由浙江大学的赵永望教授、上海交通大学的曹钦翔副教授和华为技术有限公司的詹博华博士等学者共同发起。该社区旨在为定理证明领域的爱好者、学者和研究人员提供一个交流和分享经验的平台。社区定期组织线上和线下活动，邀请相关领域的学者分享最新的研究成果和工具使用经验。参与者可以通过社区官网获取定理证明工具（如Coq、Isabelle、Lean等）的入门资料、项目检索信息以及相关学术论文的索引。
        </p>
        <p>本次赛事独家赞助商CertiK 是全球最大的Web3安全公司，由哥伦比亚大学和耶鲁大学的教授创立。CertiK客户覆盖150个国家和地区，为行业提供全周期产品和服务。依托领先安全与形式化验证技术，CertiK与合作者联合打造了全球首个数学领域的去中心化科学平台——OpenMath，研究者可提出、解决数学问题，平台借助Rocq验证技术获取激励，确保了知识逻辑严谨，并通过区块链实现公平溯源与开放传播。
        </p>
    </section>


</div>